body {
    font-family: sans-serif;
    max-width: 500px;
    margin: 40px auto;
    background: #eee;
}

.box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
}

.btn-add {
    background: #28a745;
    color: white;
}

.btn-login {
    background: #007bff;
    color: white;
}

.task {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task div {
    display: flex;
    gap: 5px;
}

.btn-edit {
    background: #ffc107;
    color: black;
    width: auto;
    font-size: 12px;
    padding: 5px 10px;
    margin: 0;
}

.btn-del {
    background: #ff4d4d;
    color: white;
    width: auto;
    font-size: 12px;
    padding: 5px 10px;
    margin: 0;
}